.logistics-container{
    position: relative;
    display: flex;
    direction: row;
    justify-content: center;
    align-items: center;
    /* border-bottom: 1px solid gray; */
}


  /* desktop */
  @media (min-width: 770px) {
    
    .logistics-container{
        justify-content: center;
        align-items: center;
    }
    
 
 }
 
 