.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.origin-button {
  position: absolute;
  z-index: 1000; /* Ensures the button stays on top of the map */
  top: 10px; /* Adjust the top position as needed */
  padding: 10px;
  font-size: 16px;
  width: 250px; /* Example width - adjust as needed */
  height: 50px; /* Example height - adjust as needed */
  border-radius: 0;   /* Remove border-radius to eliminate rounded corners */
   /* Additional styles to vertically center the form */
   display: flex;
   align-items: center;
   justify-content: center;
} 

input, select, textarea {
  font-size: 16px; /* Adjusting font size to 16px or larger can prevent zooming */
}



/* Make the AutoComplete input wider, taller, and without rounded corners */
.ant-form-item-control-input-content .ant-input-affix-wrapper, .ant-select, .ant-select-outlined, .ant-select-auto-complete, .ant-select-in-form-item, .ant-select-single, .ant-select-show-search,
.ant-form-item-control-input-content .ant-input-affix-wrapper .ant-input, .ant-form, .ant-form-horizontal, .ant-select-selector,
.ant-form-item-control-input-content .ant-input-affix-wrapper:focus, .ant-select-selection-search-input,
.ant-form-item-control-input-content .ant-input-affix-wrapper-focused, .ant-form-item, .ant-auto-complete {
  width: 100%; /* Set to 100% to fill the form item */
  height: 100%; /* Example height, adjust as needed */
  border-radius: 0; /* Remove rounded corners */
  padding: 0px;
  font-size: 16px;
}




.App {
  position: relative; /* This makes sure that the button is positioned relative to the App container */
}

/* POPUP FILES */

.custom-popup {
  font-family: Arial, sans-serif;
  margin: 0; /* Removes margin around the popup content */
  padding: 0px;
  min-width: 150px;
}

.popup-image-container img {
  width: calc(100% + 46px); /* Adjusted width */
  height: 145px; /* Set a fixed height I NEED TO ADD A MAX WIDTH */
  object-fit: cover; /* Cover the box without distorting the aspect ratio */
  object-position: center; /* Align the image to the center */
  display: block; /* Ensures there's no extra space under the image */
  border-radius: 8px 8px 0 0; /* Rounded corners at the top */
  margin-left: -21px;
  margin-top: -14px;
  
}

.popup-content {
  display: flex;
  flex-direction: column;
  padding: 0px;
  margin-left: -10px;
  margin-right: -10px;

  
}


.popup-content h2 {
  margin: 8px 0px 0px 0px; /* Adds margin at the top to separate from the image */
 
  font-size: 1.2em; /* Title size */
  
}

/* this gets a little wonky */
.popup-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  
}

.popup-link {
  display: inline-block;
  padding-left: 0;
  color: #0078d7; /* Link color */
  text-decoration: none; /* No underline */
  font-size: 01.0em; /* Link text size */
  white-space: nowrap; /* Prevents the link from wrapping and ensures it stays aligned */
}

.see-more {
  margin-left: auto; /* This will push the 'see more' link to the right */
}

.set-origin {
  display: none; /* or you can remove it if you don't need the 'Set as Origin' link */
}

.flex-container {
  display: flex;
  height: 100vh; /* Adjust the height as necessary */
}

.main-content {
  flex-grow: 1; /* Take up the remaining space */
  overflow: auto;
}

/* Custom zoom control buttons */
.leaflet-control-zoom a {
  width: 50px; /* Default is 30px */
  height: 50px; /* Default is 30px */
  line-height: 50px; /* Adjust line height to vertically center the '+' and '-' */
  background-color: white; /* Optional: change the background color */
  border-radius: 4px; /* Optional: add border-radius for rounded corners */
 
  color: black; /* Optional: change the '+' and '-' color */
}

.leaflet-control-zoom a:hover {
  background-color: #f4f4f4; /* Optional: change the background color on hover */
}

/* Adjust the size of the '+' and '-' text */
.leaflet-control-zoom a::after {
  font-size: 22px; /* Adjust the font size as needed */
}

/* If you also want to increase the size of the icons ('+' and '-') */
.leaflet-touch .leaflet-bar a {
  font-size: 22px; /* Increase font size for touch devices */
}

