


.map-container-explore {
    flex: 1;
}

.map-div {
    /*  it inherits 16 margin somehow */
      flex: 1;
      /* z-index: 1; */
      /* flex-grow: 1; */
      margin: 0px 0px 0px 0px;
      border: 0px 0px 0px 0px;

  }

  .map-div p{
      padding: 00px;
      margin: 0px;
  }


/* mobile */
  @media (max-width: 770px) {
    .main-content-explore {
      
      display: flex;
      flex-direction: column;
      flex: 1;
      height: 100%;
    } 

    .map-container-explore {
        display: flex;
        flex: 1;
      } 

      .map-div {
          flex: 1;
      }

}

/* desktop */
@media (min-width: 770px) {
    .main-content-explore {
      
      display: flex;
      flex-direction: row;
      flex: 1;
      height: 100%;
    } 

    .map-container-explore {
        display: flex;
        flex: 1;
      } 

      .map-div {
          flex: 1;
      }

}

/* 
  .main-content-explore {
    /* Allow the main content to grow to fill available space */

     /* I need flex grow */
    /* flex-grow: 1; */
    /* Enable vertical scrolling when content overflows */
    /* overflow: auto; */
    /* display: flex; */
    /* flex: 1;  */
    /* flex: 1; */
    /* display: flex; */
    /* Enable vertical scrolling when content overflows */
    /* overflow: hidden; */
    /* Position the main content relative to its normal position */
    /* position: relative; */







/* desktop */
/* @media (min-width: 770px) {
    .main-content-explore {
      flex-direction: row;
    }
  
  } */

  /* mobile */

/* @media (max-width: 770px) {
    .main-content-explore {
      flex-direction: column;
    } 

 
.leaflet-touch {
    height: 80vh;
    border: 1px solid blue;
    padding-left: 50px;
    margin-left: 500px;
    box-sizing: border-box;
    left: 5px;
}
  
  }
 */
  
  
  


  