

.custom-tooltip {
  padding: 6px;
  border: 0px;
  font-family: Arial, sans-serif;
  margin: 0; 
  padding: 0px;
  min-width: 50px;
  border-radius: 8px;
  pointer-events: none;

 
}

.custom-tooltip:hover {
  box-shadow: 0 2px 4px rgba(77, 146, 237, 0.4);
  border-color: blue;
}

.tooltip-content {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: flex-start;
  padding: 0px;
  margin: 0px;
  /* margin-top: -9px; */

}

.tooltip-content h2 {
  margin: 0px 0px 0px 0px; /* Adds margin at the top to separate from the image */
  font-size: 12px;
  margin: 0px;
  padding: 0px;
}

/* .tooltip-info {
  margin-top: 4px;
} */





/* POPUP FILES */
.leaflet-popup {
  padding: 0px;
  border: 0px;
  /* margin: 0px; */
}

.leaflet-popup-content-wrapper:hover {
  box-shadow: 0 2px 4px rgba(77, 146, 237, 0.4);
}

.leaflet-popup-content-wrapper {
  box-shadow: 0 2px 4px rgba(0,0,0, 0.4);
  height: 40px;
  box-sizing: border-box;
  padding: 1px;
  margin: 0px;
  min-width: 50px;
  padding-left: 0px;
  
}

.leaflet-popup-tip:hover {
  /* padding: 0px; */
}

.custom-popup {
    font-family: Arial, sans-serif;
    margin: 0; 
    padding: 0px;
    min-width: 50px;

  }
  
  /*
  .popup-image-container img {
    width: calc(100% + 46px); 
    height: 145px; 
    object-fit: cover; 
    object-position: center;
    display: block; 
    border-radius: 8px 8px 0 0; 
    margin-left: -21px;
    margin-top: -14px;
  }
  */

  .popup-content {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: flex-start;
    padding: 0px;
    margin: 0px;
    margin-left: -5px;
    margin-top: -9px;
    
  }
  
  .popup-content h2 {
    margin: 0px 0px 0px 0px; /* Adds margin at the top to separate from the image */
    font-size: 12px;
    margin: 0px;
    padding: 0px;
  }
  
  /*
  .popup-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
    font-size: 12px;
  }
  */
  /* 
  .popup-link {
    display: inline-block;
    padding-left: 0;
    color: #0078d7;
    text-decoration: none; 
    font-size: 01em;
    white-space: nowrap;
  }

  .see-more {
    margin-left: auto; 
  }
  
  */


  .leaflet-tooltip:hover {
    
    border: 2px solid #2479E9;
  }


  .selected {
    
    border: 2px solid #2479E9;
  }